.offer {
  color: $offer-text-color;
}

.offer__date {
  @include responsive(font-size, 1.9vw, 0.4);

  @include mobile-large-versions(div);
}


.offer__punch-line {
  color: $offer-title-color;
  @include responsive(font-size, 5.7vw);

  @include mobile-large-versions(h2);

  h2 {
    font-weight: 300;
  }
}


.offer__list {
  @include responsive(font-size, 4vw, 0.4);
  font-weight: 400;
}


.offer__clipart {
  display: none;
  position: absolute;
  top: -15%;
  right: 19%;

  img {
    width: 7vw;
    height: 7vw;
  }
}

.offer__clipart__text {
  position: absolute;
  top: 28%;
  left: 2%;

  padding: 0.5em;

  color: white;
  font-size: 0.95vw;
  transform: rotateZ(17deg);
}
