.offer {
  color: $offer-text-color;
}

.offer__date {
  @include responsive(font-size, 1.9vw, 0.4);

  /* There are 2 variants of the text: mobile and large-screen.
   * One will be displayed normally, and the other will be hidden. */
  // 1.mobile:
  div:first-child {
    display: block; // visible
  }
  // 2. large-screens:
  div:nth-of-type(2) {
    display: none; // hidden
  }
}


.offer__punch-line {
  color: $offer-title-color;
  @include responsive(font-size, 5.7vw);

  /* There are 2 variants of the text: mobile and large-screen.
   * One will be displayed normally, and the other will be hidden. */
  // 1.mobile:
  h2 {
    font-weight: 300;
  }
  h2:first-child {
    display: block; // visible
  }
  // 2.large-screens:
  h2:nth-of-type(2) {
    display: none; // hidden
  }
}


.offer__list {
  @include responsive(font-size, 4vw, 0.4);
  font-weight: 400;
}


.offer__clipart {
  display: none;
  position: absolute;
  top: -15%;
  right: 19%;

  img {
    width: 7vw;
    height: 7vw;
  }
}

.offer__clipart__text {
  position: absolute;
  top: 28%;
  left: 2%;

  padding: 0.5em;

  color: white;
  font-size: 0.95vw;
  transform: rotateZ(17deg);
}
